<p>
  No content on screen? Angular routes clash with static served content just click <a href="http://localhost:8080" >here</a>
</p>
<div class="container">
  <router-outlet></router-outlet>
</div>


<br/>
<br/>
<br/>
<h3>Usefull links</h3>
<p>

  This <a href="http://localhost:8080/tasks/debug/createRandom" target="_blank"> link</a> will create a new random task.You can refresh it
  howmany times you wish, and all browsers/all tabs should get the new task automatically.

</p>
<p>
  <a href="http://localhost:8080/tasks/debug/all" target="_blank">See all tasks</a>
</p>

